.page{
    display: flex;
    flex-flow: column;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 20px;

}

h1{
    color: #faf7e6;
}
.welcome-container{
    text-align: center;
    border: 3px solid black;
    background: #771144;
    padding: 10px;

}
.registration-container{
    border: 3px solid black;
    background: gray;
}
.form{
    margin: 20px;
}
.link{
    margin-top: 10px;
    padding: 10px;
    border: solid 1px black;
    border-radius: 10px;
    background: gray;
}
.logo{
    height: 100px;
    width: auto;
}
.uploader{
    position: absolute;
    background: white;
    border-radius: 20px;
    border: black solid 3px;
    padding: 10px;
    left:200px;
    top: 80px;
    width: 400px;
    height: 250px;
    z-index: 2;

}
.uploader h1{
    float: right;
    top: 10px;
}
.profilepic-container{
    float: right;
}
.profilepic-container img{

    height: 100px;
    width: auto;

    border-radius: 20px;

}
.loggedin-container{

    margin-right: 450px;
    width: 200px;
}

.profile-header-container{
    background: #05004e;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.profile{
    height: 400px;
    background-color: #faf7e6;
    padding: 20px;
}
.profile .profilepic-container img{
    height: 200px;
    width: 200px;
    position: absolute;
    left:60px;
}
.bio-text{
    border: 2px solid black;
    position: absolute;
    padding: 10px;
    left: 290px;
}
textarea{
    left: 230px;
    border: 2px solid #05004e;
    border-radius: 20px;
    background: #faf7e6;
    width: 70%;
    height: 300px;
}

.main-box{
    padding: 20px;
    background: #771144;
/*    height: 500px;*/
}

.opp-container{
    background:  #fb929e;
}

.linksToUsers p{
    display: inline;
    width: 100%;
}

.opp-container img {
    float: left;
    width: 200px;
    height: auto;
    margin: 10px;
    border-radius: 20px;
}

.opp-container .bio{
    border: 2px solid black;
    width: 500px;
    margin: 20px;
    float:right;
}
.bio{
    width: 500px;
    margin: 20px;
   float:right;
}

.friendsAndWannabes{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.friends{
    display: flex;

}
.friendsAndWannabes img{
    width: 150px;
    height: auto;
    border-radius: 20px;

}

.people{
    display: inline;
    padding-top: 30px;
    padding-left: 20px;
    width: 350px;
}

.chat-messages-contianer{
    display: block;

}
.chat-messages-contianer img{
    width: 150px;
    height: auto;
    border-radius: 20px;

}
.oldMessages{
    background: white;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    width: 70%;
    height: 100%;
    border: 2px solid #05004e;
    border-radius: 20px;
    background: #faf7e6;
}
.chatInfo{
float: right;
    padding-right: 300px;
}
.name{
    color: black;
}
