.page{
    display: grid;

font-family: 'Source Sans Pro', sans-serif;

}
h1{
    color: #fb929e;
}
.welcome-container{
    text-align: center;
    border: 3px solid black;
    background: #771144;
    padding: 10px;

}
.registration-container{
    border: 3px solid black;
    background: gray;
}
.form{
    margin: 20px;
}
.link{
    margin-top: 10px;
    padding: 10px;
    border: solid 1px black;
    border-radius: 10px;
    background: gray;
}
.logo{
    height: 100px;
    width: auto;
}
.uploader{
    position: absolute;
    background: white;
    border-radius: 20px;
    border: black solid 3px;
    left:200px;
    top: 80px;
    width: 400px;
    height: 250px;
    z-index: 2;

}
.uploader h1{
    float: right;
    top: 10px;
}
.profilepic-container{

float: right;
}
.profilepic-container img{
    height: 100px;
    width: auto;

    border-radius: 20px;

}
.loggedin-container{

    margin-right: 450px;
    width: 200px;
}

.profile-header-container{
    background: #05004e;
display: flex;
}
.profile{
    height: 400px;
    background-color: pink;
}
.profile .profilepic-container img{
height: 200px;
width: 200px;
    position: absolute;
    left:20px;
}
.bio-text{
    border: 2px solid black;
    position: absolute;
    left: 230px;
}
textarea{


        left: 230px;
    border: 2px solid black;
    background: #ffcccc;
    width: 200px;
    height: 300px;
}

.main-box{

background: #771144;
/*    height: 500px;*/
}

.opp-container{

    background: green;
}

 /*.otherImg {

    width: 300px;
    height: 400px;
}*/
 .opp-container img {
float: left;
    width: 200px;
    height: auto;
    margin: 10px;
    border-radius: 20px;
}

.opp-container .bio{
    border: 2px solid black;
width: 500px;
margin: 20px;
    float:right;
}
.bio{

width: 500px;
margin: 20px;
   float:right;
}

.friendsAndWannabes img{
    width: 150px;
    height: auto;

}

.people{

width: 350px;

}
